* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Courier, monospace;
}

:root {
  --primaryColor: #6070ff;
  --headingtextColor: #172b4d;
  --bodyTextColor: #344563;
  --backgroundColor: #f7f7f9;
}

body {
  background-color: #f7f7f9;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

button.small {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: none;
}

button.secondary {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: none;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  color: var(--headingtextColor);
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--bodyTextColor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (min-width: 340px) {
  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 4px;

    .logo-placeholder {
      padding: 10px 12px;
      margin-left: 12px;

      .logo {
        color: var(--primaryColor);
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
      }

      #Menu {
        display: none;
      }
    }

    .menu {
      padding: 8px;
      width: 24px;
      height: 24px;
      margin-right: 24px;

      .material-symbols-outlined {
        color: var(--primaryColor);
      }
    }
  }

  #headline_section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 114px 24px;
    gap: 12px;
    background-image: url(./images/header-shapes\ mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 5rem;

    .headline {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      padding: 1rem;

      .its_connect {
        color: var(--primaryColor);
      }

      .social_icons {
        list-style: none;
        display: flex;
        gap: 1rem;

        .icons {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  #works {
    display: grid;
    /* flex-direction: column; */
    align-content: center;
    padding: 114px 24px;
    grid-gap: 88px;

    .card_works {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
      gap: 12px;
      background: white;
      border: 1px solid #def1e6;
      border-radius: 16px;

      .snapshoot_portpolio {
        width: 295px;
        height: 220px;
        background: url(./images/SnapshootPortfolio.svg);
        border-radius: 8px;
      }

      .card_detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        width: 100%;

        .card_title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .card_history {
            display: flex;
            align-items: center;
            gap: 6px;

            .card_history_detail {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 8px 0.2px;
            }
          }
        }

        .card_tags {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          .tag {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 4px 12px;
            background: #ebebff;
            border-radius: 8px;
          }
        }
      }
    }
  }

  #about_myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    background: white;
    border-radius: 0 5rem 0 0;

    .myself {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      .its_connect {
        color: var(--primaryColor);
      }

      .social_icons {
        list-style: none;
        display: flex;
        gap: 1rem;

        .icons {
          width: 24px;
          height: 24px;
        }
      }
    }

    .myskills {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .languages {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .lan_head {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 1rem 0.1px;
        }

        .lan_list {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          width: 100%;

          .lan_list_detail {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 8px 0.1px;
            background: #f7f7f9;
            border-radius: 8px;
            gap: 1rem;

            .list_img {
              padding-left: 10px;
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}
